body {
    background-image: url(../responsiveCSS1/imagens/bg.jpg);
    background-size: cover;
    background-position: top center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.main {
    width: 100%;
    max-width: 1015px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    margin: 40px 0;
}
header .menu-icon {
    display: none;
}
header .ham {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 4px;
}
header .logo {
    width: 200px;
}
header .logo img {
    width: 100%;
}
nav {
    flex: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav li {
    margin: 0 10px;

}
nav a {
    color: #fff;
    text-decoration: none;
}


.container {
    display: flex;
}

.content-area {
    flex: 1;
}
.content-area h1 {
    font-size: 40px;
}

.content-area .cta {
    display: flex;
}
.cta .button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #29be56;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-area .phone1 {
    height: 400px;
    width: auto;
    position: relative;
    z-index: 2;
    top: 10px;
}
.phone-area .phone2 {
    height: 400px;
    width: auto;
    position: relative;
    margin-left: -100px;
    z-index: 1;
}